---
interface Props {
	src: any
	alt: any
	desc: string
	url: string
}
const { src, alt, desc, url } = Astro.props
import { Image } from "astro:assets"
---

<a href={url}>
	<div class="group m-2 p-2 hover:bg-slate-700 rounded-md">
		<div class="flex flex-row bg-inherit rounded-md w-6 md:w-7">
			<Image
				src={src}
				alt={desc}
				title={desc}
				class="w-6 md:w-7 visible group-hover:collapse"
			/>
			<Image
				src={alt}
				alt={desc}
				title={desc}
				class="w-6 md:w-7 collapse group-hover:visible"
			/>
		</div>
	</div>
</a>
