---
interface Props {
	desc: string
	url: string
}
const currentUrl = Astro.url.pathname.trim()
const { url, desc } = Astro.props
const isCurrent = url == currentUrl
---

{
	isCurrent ? (
		<a class="text-slate-800 font-serif font-semibold" aria-current="page">
			<div
				class="block mt-4 sm:inline-block sm:mt-0 mr-4"
				id={`menu-${desc}`}
			>
				{desc}
			</div>
		</a>
	) : (
		<a
			href={url}
			class="text-slate-600 hover:text-slate-800 font-serif font-semibold"
		>
			<div
				class="block mt-4 sm:inline-block sm:mt-0 mr-4 hover:underline"
				id={`menu-${desc}`}
			>
				{desc}
			</div>
		</a>
	)
}
